<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>handlers</title>
    <link rel="stylesheet" href="/css/buttons.css" type="text/css">
</head>
<body>
<span th:each="handler:${handlers}">
    <button class="common_button" th:text="${handler.name}" th:id="'name'+${handlerStat.count}" th:onclick="'sethandler('+${handlerStat.count}+')'"></button>
    <textarea th:value="${handler.id}" th:id="'id'+${handlerStat.count}" hidden></textarea>
    <textarea th:value="${handler.phone}" th:id="'phone'+${handlerStat.count}" hidden></textarea>
</span>
<script>

    function sethandler(count){
        var name = document.getElementById("name"+count).innerText;
        var phone = document.getElementById("phone"+count).getAttribute("value");
        var id = document.getElementById("id"+count).getAttribute("value");

        var target= window.parent.document.getElementById("tr_mark");
        target.getElementsByClassName("name")[0].innerText=name;
        target.getElementsByClassName("phone")[0].innerText=phone;
        target.getElementsByTagName("td").item(3).getElementsByTagName("input").item(0).setAttribute("value", id);
        window.parent.document.getElementById("box_window").style.display="none";
        //删除标记
        target.removeAttribute("id");
    }
</script>
</body>
</html>