<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理面板</title>
    <link rel="stylesheet" href="/css/no_border_padding_margin.css" type="text/css" >
    <style>

        #head_f{
            width: 100%;
            height: 50px;
            background-color: lightslategray;
            float: left;
        }
        #body_f{
            width: 100%;
            float: left;

        }
        #main_frame{
            width: 100%;
            height: 100%;
        }
        html,body{
            height: 100%;
        }
    </style>
    <script>
        function resize_f(){
            var height = document.documentElement.clientHeight;
            document.getElementById("main_frame").style.height=height-50+"px";
        }
    </script>
</head>
<body onload="resize_f()" onresize="resize_f()" style="overflow-y: hidden">
<div id="head_f">
    <!--这里展示用户信息-->
    <p th:text="|欢迎您，${username}！   当前用户ID:${userid}|"></p>
</div>
<div id="body_f">
    <iframe id="main_frame" src="/admin/bugpanel">
    </iframe>
</div>
</body>
</html>