<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理漏洞</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="张坤元">
    <link rel="icon" href="/static/img/%E9%BE%99%E7%8C%AB%E5%A4%B4%E5%83%8F.jpg">
    <link rel="stylesheet" type="text/css" href="/static/css/box_window.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/submitbug_functions.js"></script>
    <style>
        .control-label{
            font-size: 15px;
        }
        .table th ,.table td{
            text-align: center!important;
            vertical-align: middle!important;
        }


    </style>
</head>
<body>
<form class="form-horizontal" th:object="${Workorder_Factory}" method="post" action="/admin/managebug">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                   <br><br>
                    <div class="form-group">
                        <label for="bugname" class="col-xs-3 control-label">漏洞名称：</label>
                        <div class="col-xs-6" name="bugname" id="bugname">
                            <input class="form-control" type="text" th:value="${bug.bugname}" name="bugname" id="bugname" required>
                        </div>
                        <span class="star_mark" style="color:red">*</span>
                    </div>
                    <div class="form-group">
                        <label for="bugtype" class="col-xs-3 control-label">漏洞类型：</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="bugtype" id="bugtype" required>
                                <option th:each="bugtype : ${bugtypes}" th:value="${bugtype.id}" th:text="${bugtype.bugtype}" th:selected="${bug.bugtype} eq ${bugtype.bugtype}"></option>
                            </select>
                        </div>
                        <span class="star_mark" style="color:red">*</span>
                    </div>
                    <div class="form-group">
                        <label for="bugrank" class="col-xs-3 control-label">漏洞评级：</label>
                        <div class="col-xs-3">
                            <select name="bugrank" id="bugrank" class="form-control">
                                <option value="0" th:selected="${bug.bugrank} eq '低危'">低危</option>
                                <option value="1" th:selected="${bug.bugrank} eq '中危'">中危</option>
                                <option value="2" th:selected="${bug.bugrank} eq '高危'">高危</option>                                
                            </select>
                        </div>
                        <span class="star_mark" style="color:red">*</span>
                    </div>
            </div>
                <p id="msg_alert"></p>
                <input type="text" name="bugid" th:value="${bug.id}" hidden/>
                <input type="text" name="submituser" th:value="${bug.submituser}" hidden/>
                <input type="text" name="refused" id="refused" value="false" hidden/>           
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input th:align="left" type="button" class="btn btn-default" onclick="add_row()" value="添加"/>&emsp;<input
                    type="button" onclick="submit_form()" class="btn btn-success" value="提交工单"/>&emsp;
                <input type="button" class="btn btn-danger" onclick="refuse_bug()" value="拒绝该漏洞"/>
                <br><br id="alert_p">
                <table class="table table-bordered table-hover" style="width: 100%" id="IUtable">
                            <tr>
                                <th>IP</th>
                                <th>URL</th>
                                <th>部门</th>
                                <th>选择处理人员</th>
                                <th>联系人</th>
                                <th>&emsp;&emsp;联系人电话&emsp;&emsp;</th>
                                <th>SOC平台录入</th>
                                <th>审核意见</th>
                                <th>操作</th>
                            </tr>
                            <!--这里隐藏一行用来clone-->
                            <tr hidden id="tr_for_cp">
                                <td><input class="form-control" name="ip" type="text"/></td>
                                <td><input class="form-control" name="url" type="text"/></td>
                                <td>
                                    <select name="department" class="form-control">
                                        <option th:each="department:${departments}" th:value="${departmentStat.count}"
                                                th:text="${department.name}"></option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" onclick="choose_handlers(this)">选择</button>
                                    <!--这里跳出弹窗进行人员选择-->
                                    <input name="handler" type="text" hidden/>
                                </td>
                                <td><p class="name"></p></td>
                                <td><p class="phone"></p></td>
                                <td>
                                    <select name="soc_recorded" class="form-control">
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-default" onclick="addcomment(this)" type="button">填写</button>
                                    <input hidden name="comment" type="text">
                                </td>
                                <td><input type="button" value="删除" class="btn btn-danger" onclick="delete_row(this)"></td>
                            </tr>

                            <tr th:each="ip_s:${bug.ip}">
                                <!--修改这个tr的内容后一定要保证上面的tr同步进行修改-->
                                <td><input class="form-control" name="ip" th:value="${ip_s}" type="text"/></td>
                                <td><input class="form-control" name="url" th:value="${bug.url[ip_sStat.index]}" type="text"/></td>
                                <td>
                                    <select name="department" class="form-control">
                                        <option th:each="department:${departments}" th:value="${departmentStat.count}"
                                                th:text="${department.name}"></option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" onclick="choose_handlers(this)">选择</button>
                                    <!--这里跳出弹窗进行人员选择-->
                                    <input name="handler" type="text" hidden/>
                                </td>
                                <td><span class="name"></span></td>
                                <td><span class="phone"></span></td>
                                <td>
                                    <select name="soc_recorded" class="form-control">
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-default" onclick="addcomment(this)" type="button">填写</button>
                                    <input hidden name="comment" />
                                </td>
                                <td><input type="button" value="删除" class="btn btn-danger" onclick="delete_row(this)"></td>
                            </tr>
                        </table>
                <h3>漏洞描述</h3>
                <div style="resize:none;width: 100%;" aria-readonly="true" name="description" id="description"  th:utext="${bug.description}"></div>

                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body"><iframe id="box_frame" style="width: 100%;height:500px;border: 0;padding: 0;margin: 0;"></iframe></div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

            </div>            
        </div>
    </div>
</form>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
    var box_frame = document.getElementById("box_frame");

    function choose_handlers(btn) {
        // 获取选择的部门代号
        var dpt_num = btn.parentElement.parentElement.getElementsByTagName("select")[0].value;
        // 设置行标记
        btn.parentElement.parentElement.setAttribute("id", "tr_mark");
        // 将URL设置到弹窗的iframe，并显示弹窗
        box_frame.setAttribute("src", "/admin/handlers?dpt_num=" + dpt_num);
        $('#myModal').modal('show')

    }

    function addcomment(btn) {
        // 标记单元格
        var target = btn.parentElement.getElementsByTagName("input").item(0);
        target.setAttribute("id", "comment");
        // 将URL设置到弹窗的iframe，并显示弹窗
        box_frame.setAttribute("src", "/admin/comment?comment=" + target.getAttribute("value"));
        $('#myModal').modal('show')
    }

    function refuse_bug(){
        // 拒绝漏洞
        document.getElementById("refused").value="true";
        submit_form();
    }

    function submit_form(){
        var check_handler = true;
        $.map($("input[name='handler']"),function(value,index){
            if((value.value== "")&& (index > 0)){
                check_handler =false;
            }
        })
        $.map($("input[name='comment']"), function (value,index) {
            if((value.value=="")&&(index>0)){
                $(value).val(" ")
            }
        })
        if (check_handler){
        document.getElementById("tr_for_cp").remove();  // 提交之前先删除隐藏的这一行，因为其中包含了大量的name属性
        document.forms.item(0).submit();
        return true;
        }else{
                $("#msg_alert").html("<div class=\"alert alert-warning alert-dismissible\" role=\"alert\">\n" +
                    "    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                    "    <p>请选择处理人员！</p>\n" +
                    "</div>");
            return false;
        }
    }


    function close_modal(){
        $("#myModal").modal("hide");
    }
</script>
</body>
</html>