.input_text{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 85%;
    width: auto;
    border: 1px solid lightgray;
    font-size: 17px;
    line-height: 17px;
}
.input_text_in_table{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    /*width:350px;*/
    width: 97%;
    height: 85%;
    border: 1px solid lightgray;
    font-size: 17px;
    line-height: 17px;
}