.hidden_table{

    text-align: left;
}
.hidden_table td,th{

    height: 30px;
    text-align: left;
    vertical-align: middle;
}

.shown_table{
    border-collapse: collapse;
    border: 1px solid lightgray;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.shown_table td,th{
    border: 1px solid lightgray;
    padding: 0px;
    margin: 0px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}
/*.shown_table>td,th{*/
    /*border-collapse: inherit;*/
    /*border: 1px solid lightgray;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/
/*th{*/
    /*height: 45px;*/
/*}*/
/*td{*/
    /*height: 40px;*/
/*}*/
/*.shown_table>tr{*/
    /*border-collapse: inherit;*/
    /*border: 1px solid lightgray;*/
/*}*/
