<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bug Manage System</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="张坤元">
    <meta name="description" content="工单管理系统">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}">
    <script th:src="@{/static/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="link">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}">
    <script th:src="@{/static/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</div>

<div class="container-fluid">

<div class="row">

        <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="top (activeURI)">
            <style>
                @media (max-width: 768px) {
                    .mobile_hidden{
                        display: none !important;
                    }
                }
            </style>
            <div class="col-sm-9 col-xs-12 col-sm-offset-1" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/bugpanel">工单管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav1">
                    <li th:if="${session.signin}" th:classappend="${activeURI eq 'bugpanel'}?'active'"><a th:href="@{/bugpanel}">管理面板</a></li>
                    <li th:if="${session.signin}" th:classappend="${activeURI eq 'submitbug'}?'active'"><a th:href="@{/submitbug}">提交漏洞</a></li>
                    <li th:if="${(session.signin eq true) && (activeURI eq 'managebug')}" class=active><a>审核漏洞</a></li>
                    <li th:if="${! (session.signin eq true)}" th:classappend="${activeURI eq 'signup'}?'active'"><a th:href="@{/signup}">注册</a></li>
                    <li th:if="${! (session.signin eq true)}" th:classappend="${activeURI eq 'signin'}?'active'"><a th:href="@{/signin}">登录</a></li>
                    <li th:classappend="${activeURI eq 'project_info'}?'active'"><a th:href="@{/project_info}">项目源码</a></li>
                </ul>
                <div th:if="${session.signin}" class="navbar-right">
                    <p  class="nav navbar-text" th:utext="|欢迎您，${session.identity_str}:${session.username} &emsp;&emsp;&emsp; <a href='/logout' target='_self' class='navbar-link'>注销</a>|">
                    </p>
                </div>
            </div>
            </div><!--/.nav-collapse -->
        </nav>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary" th:fragment="left">
        <div class="panel-heading">
            <h3 class="panel-title">检索</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-sidebar">
                <li>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select name="searchby" class="form-control" style="width: auto">
                                <option value="bugname" selected="selected">漏洞名称</option>
                                <option value="id">漏洞ID</option>
                                <option value="submituser" th:if="${identity} eq 1">用户ID</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="keyword" placeholder="Search for...">
                        <span class="input-group-btn">
                                    <button class="btn btn-default" onclick="submitForm()" type="button">Go!</button>
                                  </span>
                    </div>
                </li>
                <li class="mobile_hidden">
                    <p><strong>审核状态</strong></p>
                    <div class="checkbox"><label><input type="checkbox" name="checkstatus" value="0" onclick="submitForm()" checked>待审核</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="checkstatus" value="1" onclick="submitForm()">审核通过</label></div>
                    <div class="checkbox"><label><input type="checkbox" name="checkstatus" value="2" onclick="submitForm()">审核未通过</label></div>
                </li>
                <li class="mobile_hidden">
                    <p><strong>每页显示行数</strong></p>
                    <div class="radio-inline"><label><input type="radio" onchange="submitForm()" name="size" value="10" checked>10</label></div>
                    <div class="radio-inline"><label><input type="radio" onchange="submitForm()" name="size" value="15">15</label></div>
                    <div class="radio-inline"><label><input type="radio" onchange="submitForm()" name="size" value="50">50</label></div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>