<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>漏洞列表</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="张坤元">
    <link rel="icon" href="/static/img/%E9%BE%99%E7%8C%AB%E5%A4%B4%E5%83%8F.jpg">
    <meta name="description" content="工单管理系统">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <style>
    .table th, .table td { 
                        text-align: center!important;
                        vertical-align: middle!important;
                        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="padding: 0">
            
            <table class="table table-bordered table-hover" style="width: 100%">
    <thead>
    <tr>
        <th>名称</th>
        <th>类型</th>
        <th>等级</th>
        <th>时间</th>
        <th>详细信息</th>
        <th th:if="${identity} eq 1" >操作</th>
        <!--管理员页面才会显示操作栏-->
    </tr>
    </thead>
    <tbody>
    <!--遍历生成每一行数据-->
    <tr th:each="bug:${bugs}" class="bug_tr">
        <td th:text="${bug.bugname}"></td>
        <td th:text="${bug.bugtype}"></td>
        <td th:text="${bug.bugrank}"></td>
        <td th:text="${bug.date}"></td>
        <td>
            <button class="btn btn-default"  data-toggle="modal" data-target="#myModal" th:onclick="'javascript:show_info('+${bug.id}+')'">详细信息</button>
        </td>
        <td th:if="${identity} eq 1">
            <!--管理员页面才会显示操作栏-->
            <button type="button" class="btn btn-default"  th:onclick="'javascript:manage_bug('+${bug.id}+')'">
              操作
            </button>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination" style="margin-left: 30%;">
    <li th:if="${page}&gt;1">
      <a aria-label="Previous" th:href="'javascript:change_page('+${page-1}+')'">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li th:each="num:${pages}" th:switch="${num}" th:class="${num eq page}?'active'">
        <a  th:case="${num}" th:href="'javascript:change_page('+${num}+')'" th:text="${num}"></a>
      </li>
      <li>
      <a th:href="'javascript:change_page('+${page+1}+')'" th:if="${page}&lt;${max_page}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
        </div>
    </div>
</div>
    
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">漏洞详情</h4>
      </div>
      <div class="modal-body" >
        <iframe id="box_frame" style="width: 100%;border: 0;padding: 0;margin: 0;" onload="this.height=window.document.documentElement.clientHeight*0.6" ></iframe>
      </div>
    </div>
  </div>
</div>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    var box_frame = document.getElementById("box_frame");

    function manage_bug(id) {
        window.parent.location.href = "/admin/managebug?id=" + id;
    }

    function change_page(pnum) {
        window.parent.document.getElementById("page").value = pnum;
        window.parent.document.getElementById("search_form").submit();
    }

    function show_info(id) {
        box_frame.setAttribute("src", "/showinfo?id=" + id);
    }



</script>
</body>
</html>