<!DOCTYPE html>
<html lang="en" style="height: 100%;width: 100%;" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>漏洞管理面板</title>
    <link rel="stylesheet" href="/css/no_border_padding_margin.css" type="text/css">
    <link rel="stylesheet" href="/css/buttons.css" type="text/css">
    <link rel="stylesheet" href="/css/tables.css" type="text/css">
    <link rel="stylesheet" href="/css/inputElements.css" type="text/css">
    <style>
        #left_frame{
            position: absolute;
            left: 0;
            top:0;
            width:400px;
        }
        #rignt_frame{
            position: absolute;
            left: 450px;
            top:0;
            bottom: 0;
            right: 0;
        }
        .span1{
            border: 0;
            padding: 0;
            margin: 0;
            float: left;
            height: 100%
        }
        .option{
            color: dimgray;
        }
        .option:checked{
            color: #000000;
        }
    </style>
    <script>
        function submitNewBug(){
            window.parent.location="/submitbug";
        }
        function submitForm() {
            document.getElementById("search_form").submit();
        }
    </script>
</head>
<body style="height: 100%;width: 100%;overflow-y: hidden">
<div id="left_frame">
    <!--搜索功能区-->
    <form method="get" action="/buglist" target="list_frame" id="search_form">
        <table style="width: 95%;height: max-content" class="hidden_table">
            <tr>
                <td>
                    <span class="span1" style="width: 20%;">
                        <select name="searchby" class="input_text" style="height: 37px;width: 100%;margin: 0;padding: 0;">
                            <option value="bugname" selected="selected">漏洞名称</option>
                            <option value="id">漏洞ID</option>
                            <option value="submituser" th:if="${identity} eq 1">用户ID</option>
                        </select>
                    </span>
                    <span class="span1" style="width: 60%;"><input type="text" name="keyword" class="input_text"  style="height: 35px;width: 100%;margin: 0;padding: 0;"/></span>
                    <span class="span1" style="width: 20%;"><input type="submit" value="搜索" class="common_button" style="height: 37px;width: 100%;margin: 0;padding: 0;border: 0" /></span>
                </td>
            </tr>
        </table>
        <button th:if="${identity} eq 0" class="submit_button" onclick="submitNewBug()">提交新漏洞</button>

        <!--只对普通用户显示此按钮-->
        <br>
        <span>按审核状态筛选：</span><br>
        <label><input class="option" type="checkbox" name="checkstatus" id="checkstatus" value="0" checked="checked"
                      onclick="submitForm()"><span>待审核&emsp;&emsp;</span></label><br>
        <label><input class="option" name="checkstatus" type="checkbox" value="1" onclick="submitForm()"><span>审核通过&emsp;</span></label><br>
        <label><input class="option" name="checkstatus" type="checkbox" value="2" onclick="submitForm()"><span>审核未通过</span></label><br>
        <br>
        <span>每页显示行数：</span><br>
        <label><input class="option" type="radio" name="size" value="15" checked="checked" onchange="submitForm()"/><span>15</span></label>&emsp;
        <label><input class="option" type="radio" name="size" value="25" onchange="submitForm()" /><span>25</span></label>&emsp;
        <label><input class="option" type="radio" name="size" value="40" onchange="submitForm()" /><span>40</span></label>
        <input type="text" name="page" id="page" value="1" hidden/>
    </form>
</div>

<div id="rignt_frame">
    <!--搜索结果显示区域-->
    <iframe src="/buglist" style="height: 100%;width:100%" id="list_frame" name="list_frame">

    </iframe>
</div>
</body>
</html>