<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理面板</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="张坤元">
    <link rel="icon" href="/static/img/%E9%BE%99%E7%8C%AB%E5%A4%B4%E5%83%8F.jpg">
    <meta name="description" content="工单管理系统">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <meta http-equiv="Cache-control" content="no-cache">
    <style>
        body{
            padding-top: 70px;
            background-color: #eee;
        }
    </style>
    <script>
        function resizeall(){
            document.getElementById("frame1").style.height = window.document.documentElement.clientHeight - 50 + "px";
            if(document.getElementById("frame1").contentWindow.document.getElementById("list_frame")!=null) {
                document.getElementById("frame1").contentWindow.document.getElementById("list_frame").style.height = window.document.documentElement.clientHeight - 137.5 + "px";
            }
        }
    </script>
</head>
<body onresize="resizeall()">
   <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">工单管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="nav1">
                <li th:if="${session.signin}"  id="navb1"><a href="javascript:$('#frame1').attr('src','/bugpanel')" target="frame1">管理面板</a></li>
                <li th:if="${session.signin}"  id="navb2"><a href="javascript:$('#frame1').attr('src','/submitbug')" target="frame1">提交漏洞</a></li>
                <li th:if="${! session.signin}"  id="navb3"><a href="javascript:$('#frame1').attr('src','/signup')" target="frame1">注册</a></li>
                <li th:if="${! session.signin}"  id="navb4"><a href="javascript:$('#frame1').attr('src','/signin')" target="frame1">登录</a></li>
          </ul>
            <div th:if="${session.signin}" class="navbar-right">
                <p  class="nav navbar-text" th:utext="|欢迎您，${identity}:${username} &emsp;&emsp;&emsp; <a href='/logout' target='_self' class='navbar-link'>注销</a>|">
                </p>
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

           <iframe th:src="${session.signin}?'/bugpanel':'/signin'" id="frame1" name="frame1" onload="switch_focus()" style="width: 100%;border:0;padding:0;margin:0;position: absolute;top: 50px;bottom: 0;" class="embed-responsive-item" >

            </iframe>


   
               
                           




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   <script>
       function switch_focus(){
           var domain = window.document.domain;
           var location = document.getElementById("frame1").contentWindow.location.href;
           var src = location.split(domain)[1];
           $("#nav1").children().attr("class", "");
           switch (src){
               case "/bugpanel":$("#navb1").attr("class", "active");break;
               case "/submitbug":$("#navb2").attr("class", "active");break;
               case "/signup":$("#navb3").attr("class", "active");break;
               case "/signin":$("#navb4").attr("class", "active");break;
           }
           resizeall();
       }
   </script>


<!--
<div id="head_f">
    这里展示用户信息
    <p th:text="|${identity}：${username}！           当前用户ID:${userid}|"></p>
</div>
<div id="body_f">
    <iframe id="main_frame" src="/bugpanel">
    </iframe>
</div>
-->
</body>
</html>