<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/no_border_padding_margin.css" type="text/css">
    <link rel="stylesheet" href="/css/buttons.css" type="text/css">
    <link rel="stylesheet" href="/css/tables.css" type="text/css">
    <link rel="stylesheet" href="/css/inputElements.css" type="text/css">
</head>
<body>
<form th:action="@{/login}" th:object="${User}" method="post">
    <table align="center" class="hidden_table" style="padding-top: 200px">
        <tr>
            <td colspan="2"><p th:if="${message}" th:text="${message}" style="color: red;text-align: center"></p></td>
        </tr>
        <tr>
            <td style="width: 60px;text-align: right">
                <label for="username">用户名</label>
            </td>
            <td width="200px">
                <input class="input_text_in_table"  type="text" name="username" id="username" placeholder="请输入用户名" required/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <label for="password">密&emsp;码</label>
            </td>
            <td>
                <input class="input_text_in_table" type="password" name="password" id="password" placeholder="请输入密码" required/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right"><label for="identity">身&emsp;份</label></td>
            <td><select name="identity" id="identity" class="input_text_in_table">
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span  style="width:100%;text-align: center;font-size: x-large;display:block;float: left"><input type="submit" value="登录" class="submit_button"/>&emsp;<input class="common_button" type="reset" value="清空"/></span>
            </td>
        </tr>
    </table>

</form>
</body>
</html>