<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form th:action="@{/login}" th:object="${User}" method="post">
    <table align="center">
        <tr>
            <td>
                <label for="username">用户名</label><input type="text" name="username" id="username" placeholder="请输入用户名" required/><br>
                <label for="password">密&emsp;码</label><input type="password" name="password" id="password" placeholder="请输入密码" required/><br>
                <label for="identity">身&emsp;份</label>
                <select name="identity" id="identity">
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <p th:if="${message}" style="color: red">账号或密码输入错误，请重新输入</p>
                <input type="submit" value="登录"/>&emsp;<input type="reset" value="清空"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>