<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bars::head"></head>
<body>
<div class="container-fluid" style="position: absolute;top:5px;bottom: 0;width: 100%">
    <div class="row">
        <div th:replace="bars::top('project_info')"></div>
    </div>
    <div class="row" style="margin-top: 52px">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>jsp+servlet</h1>
                <p>使用jsp+servlet开发的版本</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="https://github.com/zkytech/BugManageSystem" target="_blank" role="button">View source code &raquo;</a>
                </p>
            </div>
            <div class="jumbotron">
                <h1>Springboot+BootStrap</h1>
                <p>使用Springboot开发后端，BootStrap框架开发前端，支持响应式布局</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="https://github.com/zkytech/Spring-boot-demo" target="_blank" role="button">View source code &raquo;</a>
                </p>
            </div>

        </div>
    </div>
</div>
</body>
</html>
</body>
</html>