<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" style="margin: 0;padding: 0;border: 0">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>漏洞信息</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="张坤元">
    <link rel="icon" href="/static/img/%E9%BE%99%E7%8C%AB%E5%A4%B4%E5%83%8F.jpg">
    <meta name="description" content="工单管理系统">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">

</head>
<body>
    <table class="table table-bordered table-hover" style="margin:0 auto;width: 90%">
        <tr>
            <th width="15%">漏洞名称</th><td width="45%" th:text="${bug.bugname}"></td>
        </tr>
        <tr>
            <th>漏洞ID</th><td th:text="${bug.id}"></td>
        </tr>
        <tr>
            <th>漏洞类型</th><td th:text="${bug.bugtype}"></td>
        </tr>
        <tr>
            <th>URL</th>
            <td>
                <ul>
                  <li th:each="url_s:${bug.url}" th:text="${bug.url[url_sStat.index]}"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>IP</th>
            <td>
                <ul>
                    <li th:each="ip_s:${bug.ip}" th:text="${ip_s}"></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>漏洞评级</th><td th:text="${bug.bugrank}"></td>
        </tr>
        <tr>
            <th>漏洞描述</th><td th:utext="${bug.description}"></td>
        </tr>
        <tr>
            <th>提交者ID</th><td th:text="${bug.submituser}"></td>
        </tr>
        <tr>
            <th>提交时间</th><td th:text="${bug.date}"></td>
        </tr>
        <tr>
            <th>审核状态</th><td th:text="${bug.checkstatus}"></td>
        </tr>
    </table>
    
        <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>