<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/signup" method="post">
    <label for="username">用户名</label><input type="text" id="username" name="username" required />
    <label for="password">密码</label><input type="password" id="password" name="password" required />
    <!--<label for="check_password">确认密码</label><input type="password" id="check_password" name="password" required/><p hidden="hidden" style="color: red" id="alert">两次输入密码不一致</p>-->
    <label for="identity">用户身份</label><select name="identity" id="identity">
        <option value="0">普通用户</option>
        <option value="1">管理员</option>
    </select>
    <input type="submit" value="提交" onsubmit="check_password()"/>
</form>
<script>
    function check_password(){
        var pwd = document.getElementById("password").value;
        var pwd1 = document.getElementById("check_password").value;
        var alert = document.getElementById("alert");
        if(pwd == pwd1) {
            alert.setAttribute("hidden", "hidden");
            return true;
        }else {
            alert.removeAttribute("hidden");
            return false;
        }
    }
</script>
</body>
</html>