<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bars::head"></head>
<link rel="stylesheet" th:href="@{/static/css/signin.css}">

<body>
<div class="container-fluid" style="position: absolute;top:5px;bottom: 0;width: 100%">
    <div class="row">
        <div th:replace="bars::top('signup')"></div>
    </div>
    <div class="row" style="margin-top: 52px">
        <div class="col-xs-12">
            <form action="/signup" class="form-signin" method="post" onsubmit="return check_pwd()">
                <h2 class="form-signin-heading">请注册</h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名" required autofocus>
                <label for="password" class="sr-only">密码</label>
                <input type="password" class="form-control" placeholder="密码" required name="password" id="password">

                <label for="password" class="sr-only">确认密码</label>
                <input type="password" class="form-control" placeholder="密码" required name="check_password" id="check_password">

                <label for="identity" class=sr-only>用户身份</label>
                <select class="form-control" name="identity" id="identity">
                    <option value="0" selected>
                        普通用户
                    </option>
                    <option value="1">
                        审核员
                    </option>
                </select>
                <br>
                <button type="button" class="btn btn-primary btn-block btn-lg" >注册</button>
            </form>
        </div>
    </div>
</div>
<script>
    $("form>button").click(function () {
        // 先检查两次输入的密码是否一致
        if($("#password").val() != $("#check_password").val()){
            $("                <div class=\"alert alert-warning alert-dismissible\" role=\"alert\">\n" +
                "                    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                "                    <p id=\"msg\">两次输入的密码不一致，请重新输入</p>\n" +
                "                </div>").insertBefore($("form"))
            return;
        }else {
            $("alert-warning").hide()
        }
        // 提交数据
        $.ajax(
            {
                url:"[[@{/signup}]]",
                method:"POST",
                dataType:"json",
                data:"username="+$("#username").val()+"&password="+$("#password").val()+"&identity="+$("#identity").val(),
                success:function (data) {
                    console.log(data);
                    if(data.success){
                        window.location = "[[@{/signin?msg=success}]]"
                    }else {
                        $("                <div class=\"alert alert-warning alert-dismissible\" role=\"alert\">\n" +
                            "                    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                            "                    <p id=\"msg\">用户名已被注册，请更换用户名</p>\n" +
                            "                </div>").insertBefore($("form"))
                    }
                }
            }
        )
    })
</script>
</body>
</html>