<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>

        body{

            margin:0;
        }

        .stage{


        }

        .left{

            position:absolute;
            left:0;
            top:0;
            background-color:green;
            width:200px;
            height:500px;
        }

        .center{

            margin-left:200px;
            background-color:orange;
            height:500px;
        }

    </style>
</head>
<body>
<div class="stage">
    <div class="left"></div>
    <div class="center"></div>
</div>
</body>
</html>